<div class="p-3">
  <h1 mat-dialog-title class="text-primary mb-3"><i class="fas fa-edit mr-2"></i> Mark as busy</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="outline">
      <mat-label>Number of covers</mat-label>
      <input matInput type="number" [formControl]="numberOfCovers">
      <mat-icon matSuffix fontSet="fas" fontIcon="fa-database" class="mx-2 text-small"></mat-icon>
      <mat-hint>Number of people sitting a this table</mat-hint>
      <mat-error *ngIf="numberOfCovers.invalid">{{getCoversErrorMessage()}}</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="w-100 my-0 d-flex">
    <button mat-flat-button class="flex-fill py-2 mr-2" color="accent" (click)="onNoClick()">No Thanks</button>
    <button mat-flat-button class="flex-fill py-2" color="primary" (click)="markAsBusy()" cdkFocusInitial>Ok</button>
  </div>
</div>
