<mat-list>
  <mat-list-item *ngFor="let user of users">
    <img matListAvatar [src]="'../../assets/img/' + user.role + '.svg'" [alt]="user.role + '-avatar'">
    <h3 matLine> {{user.username}} </h3>
    <button mat-button color="accent" (click)="openStatisticsModal(user)" title="see statistics" class="mr-3">
      <mat-icon color="accent">insert_chart_outlined</mat-icon>
    </button>
    <button mat-button color="warn" (click)="deleteUser(user)" title="delete user">
      <mat-icon color="warn">clear</mat-icon>
    </button>
  </mat-list-item>
</mat-list>
