<div class="px-2 pt-2">
  <h1 mat-dialog-title class="text-primary mb-3">
    <i class="fas fa-edit mr-2"></i>Orders for table number {{table.number}}
  </h1>
  <div mat-dialog-content>
    <mat-tab-group>
      <mat-tab label="Food Orders">
        <div class="w-100 px-2 pt-4 pb-3">
          <mat-accordion *ngIf="showAccordion">
            <mat-expansion-panel 
              *ngFor="let order of getOrders(table, 'food'); let i = index" 
              data-index="#i" 
              [disabled]="order.processed"
            >
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Order No̲ {{ i }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="pb-3">
                <div class="my-2 d-flex align-items-center justify-content-between w-100" *ngFor="let item of order.items">
                  <span>{{item.item.name}} &times; {{item.quantity}}</span>
                  <button 
                    mat-flat-button 
                    color="control-button" 
                    title="delete item"
                    color="warn"
                    class="control-button ml-3"
                    (click)="removeItemFromOrder(item.item, order)"
                  ><mat-icon>delete_forever</mat-icon>
                  </button>
                </div>
              </div>
              <div *ngIf="order.addingItem">
                <table cellspacing="0">
                  <tr>
                    <td>
                      <mat-form-field class="example-full-width">
                        <input 
                          type="text" 
                          placeholder="Food" 
                          aria-label="Food" 
                          matInput 
                          [formControl]="foodAutocomplete" 
                          [matAutocomplete]="auto"
                        >
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                          <mat-option *ngFor="let option of filteredFoodOptions | async" [value]="option">
                            {{option.name}}
                          </mat-option>
                        </mat-autocomplete>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="number-form-field">
                        <input 
                          matInput 
                          placeholder="Quantity" 
                          type="number" 
                          [(ngModel)]="newItemQuantity"
                        >
                      </mat-form-field>
                    </td>
                    <td>
                      <button 
                        mat-flat-button 
                        class="ml-3 control-button" 
                        color="warn" 
                        title="drop this item" 
                        (click)="order.addingItem = false"
                      ><mat-icon>remove</mat-icon>
                      </button>
                    </td>
                    <td>
                      <button 
                        mat-flat-button 
                        class="ml-2 control-button" 
                        color="primary" 
                        title="drop this item" 
                        (click)="addItemHandler(foodAutocomplete.value, order); order.addingItem = false;"
                      ><mat-icon>save_alt</mat-icon>
                      </button>
                    </td>
                  </tr>
                </table>
              </div>
              <button 
                mat-flat-button 
                class="mr-3" 
                color="accent" 
                title="add an item" 
                (click)="order.addingItem = true"
              ><mat-icon>add</mat-icon>
              </button>
              <button 
                mat-flat-button 
                color="accent" 
                title="delete order" 
                (click)="deleteOrder(order._id)"
              ><mat-icon>delete_forever</mat-icon>
              </button>
            </mat-expansion-panel>
          </mat-accordion>
          <div class="py-3">
            <a href="javascript:void(0)" (click)="addOrder('food')">Add an order...</a>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Beverage Orders">
        <div class="w-100 px-2 pt-4 pb-3">
          <mat-accordion *ngIf="showAccordion">
            <mat-expansion-panel *ngFor="let order of getOrders(table, 'beverage'); let i = index" data-index="#i">
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Order No̲ {{ i }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <button mat-flat-button class="mr-3" color="accent" title="add an item">
                <mat-icon>add</mat-icon>
              </button>
              <button mat-flat-button color="accent" title="delete order" (click)="deleteOrder(order._id)">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </mat-expansion-panel>
          </mat-accordion>
          <div class="py-3">
            <a href="javascript:void(0)" (click)="addOrder('beverage')">Add an order...</a>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div mat-dialog-actions class="w-100 d-flex justify-content-center mb-0 px-2">
    <button mat-flat-button class="w-100" color="primary" (click)="closeClick()">Done</button>
  </div>
</div>
