<div class="px-2 pt-2">
  <h1 mat-dialog-title class="text-primary mb-3">
    <i class="fas fa-edit mr-2"></i>Orders for table number {{table.number}}
  </h1>
  <div mat-dialog-content>
    <mat-tab-group>
      <mat-tab label="Food Orders">
        <div class="w-100 px-2 pt-4 pb-3">
          <mat-accordion *ngIf="showAccordion">
            <mat-expansion-panel 
              *ngFor="let order of getOrders(table, 'food'); let i = index" 
              data-index="#i" 
              [disabled]="!!order.processed"
            >
              <mat-expansion-panel-header>
                <mat-panel-title class="lead">
                  Order No̲ {{ i }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="pb-3">
                <mat-list>
                  <mat-list-item *ngFor="let item of order.items">
                    <mat-icon mat-list-icon>confirmation_number</mat-icon>
                    <h4 mat-line>{{item.item.name}}</h4>
                    <p mat-line> 
                      <b>Quantity: </b>{{item.quantity}}
                    </p>
                    <button 
                      mat-button 
                      color="control-button"
                      title="delete item"
                      color="warn"
                      class="control-button ml-3"
                      (click)="removeItemFromOrder(item.item, order)"
                    ><mat-icon>delete</mat-icon>
                    </button>
                  </mat-list-item>
                </mat-list>
              </div>
              <div *ngIf="order.addingItem">
                <div class="row mx-0 px-0 align-items-center">
                  <div class="col-12 col-md-6 px-0">
                    <mat-form-field class="w-100">
                      <input 
                        type="text" 
                        placeholder="Food" 
                        aria-label="Food" 
                        matInput 
                        [formControl]="foodAutocomplete" 
                        [matAutocomplete]="auto"
                      >
                      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let option of filteredFoodOptions | async" [value]="option">
                          {{option.name}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                  <div class="col-12 col-md-6 px-0 d-flex">
                    <mat-form-field class="number-form-field ml-md-3">
                      <input 
                        matInput 
                        placeholder="Quantity" 
                        type="number" 
                        [(ngModel)]="newItemQuantity"
                      >
                    </mat-form-field>
                    <button 
                      mat-button 
                      class="ml-3 control-button" 
                      color="warn" 
                      title="drop this item" 
                      (click)="order.addingItem = false"
                    ><mat-icon>clear</mat-icon>
                    </button>
                    <button 
                      mat-button 
                      class="ml-2 control-button" 
                      color="primary" 
                      title="drop this item" 
                      (click)="addItemHandler(foodAutocomplete.value, order); order.addingItem = false;"
                    ><mat-icon>save_alt</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
              <mat-action-row>
                <button 
                  mat-button 
                  color="primary" 
                  title="add an item" 
                  (click)="order.addingItem ? addItemHandler(foodAutocomplete.value, order) : order.addingItem = true;"
                ><mat-icon>add</mat-icon> Add item
                </button>
                <button 
                  mat-button 
                  color="warn" 
                  title="delete order" 
                  (click)="deleteOrder(order)"
                ><mat-icon>delete_forever</mat-icon> Delete order
                </button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
          <div class="py-3">
            <a href="javascript:void(0)" (click)="addOrder('food')">Add an order...</a>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Beverage Orders">
        <div class="w-100 px-2 pt-4 pb-3">
          <mat-accordion *ngIf="showAccordion">
            <mat-expansion-panel 
              *ngFor="let order of getOrders(table, 'beverage'); let i = index" 
              data-index="#i"
              [disabled]="!!order.processed"
            >
              <mat-expansion-panel-header>
                <mat-panel-title class="lead">
                  Order No̲ {{ i }}
                </mat-panel-title>
              </mat-expansion-panel-header>
              <div class="pb-3">
                <mat-list>
                  <mat-list-item *ngFor="let item of order.items">
                    <mat-icon mat-list-icon>confirmation_number</mat-icon>
                    <h4 mat-line>{{item.item.name}}</h4>
                    <p mat-line> 
                      <b>Quantity: </b>{{item.quantity}}
                    </p>
                    <button 
                      mat-button 
                      color="control-button" 
                      title="delete item"
                      color="warn"
                      class="control-button ml-3"
                      (click)="removeItemFromOrder(item.item, order)"
                    ><mat-icon>delete</mat-icon>
                    </button>
                  </mat-list-item>
                </mat-list>
              </div>
              <div *ngIf="order.addingItem">
                <div class="row mx-0 px-0">
                  <div class="col-12 col-md-6 px-0">
                    <mat-form-field class="w-100">
                      <input 
                        type="text" 
                        placeholder="Beverage" 
                        aria-label="Beverage" 
                        matInput 
                        [formControl]="beverageAutocomplete" 
                        [matAutocomplete]="auto"
                      >
                      <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                        <mat-option *ngFor="let option of filteredBeverageOptions | async" [value]="option">
                          {{option.name}}
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                  </div>
                  <div class="col-12 col-md-6 px-0 d-flex">
                    <mat-form-field class="number-form-field ml-md-3">
                      <input 
                        matInput 
                        placeholder="Quantity" 
                        type="number" 
                        [(ngModel)]="newItemQuantity"
                      >
                    </mat-form-field>
                    <button 
                      mat-button 
                      class="ml-3 control-button" 
                      color="warn" 
                      title="drop this item" 
                      (click)="order.addingItem = false"
                    ><mat-icon>clear</mat-icon>
                    </button>
                    <button 
                      mat-button 
                      class="ml-2 control-button" 
                      color="primary" 
                      title="drop this item" 
                      (click)="addItemHandler(beverageAutocomplete.value, order); order.addingItem = false;"
                    ><mat-icon>save_alt</mat-icon>
                    </button>
                  </div>
                </div>
              </div>
              <mat-action-row>
                <button 
                  mat-button 
                  color="primary" 
                  title="add an item" 
                  (click)="order.addingItem ? addItemHandler(beverageAutocomplete.value, order) : order.addingItem = true;"
                ><mat-icon>add</mat-icon> Add item
                </button>
                <button 
                  mat-button 
                  color="warn" 
                  title="delete order" 
                  (click)="deleteOrder(order)"
                ><mat-icon>delete_forever</mat-icon> Delete order
                </button>
              </mat-action-row>
            </mat-expansion-panel>
          </mat-accordion>
          <div class="py-3">
            <a href="javascript:void(0)" (click)="addOrder('beverage')">Add an order...</a>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div mat-dialog-actions class="w-100 d-flex justify-content-center mb-0 px-2">
    <button mat-flat-button class="w-100" color="primary" (click)="closeClick()">Done</button>
  </div>
</div>
