<div class="px-2 pt-2">
  <h1 mat-dialog-title class="text-primary mb-3"><i class="fas fa-edit mr-2"></i>Orders for table number {{table.number}}</h1>
  <div mat-dialog-content>
    <mat-tab-group>
      <mat-tab label="Food Orders">
        <app-order-tree [tree]="formattedFoodOrders"></app-order-tree>
        <div class="w-100 p-2">
          <button mat-stroked-button class="w-100" (click)="addOrder('food')">
            <mat-icon class="mr-3">add</mat-icon> Food Order
          </button>
        </div>
      </mat-tab>
      <mat-tab label="Beverage Orders">
        <app-order-tree [tree]="formattedBeverageOrders"></app-order-tree>
        <div class="w-100 p-2">
          <button mat-stroked-button class="w-100" (click)="addOrder('beverage')">
            <mat-icon class="mr-3">add</mat-icon> Beverage Order
          </button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div mat-dialog-actions class="w-100 d-flex mb-0">
    <button mat-flat-button class="flex-fill mr-3" color="accent" (click)="onNoClick()">Discard Updates</button>
    <button mat-flat-button class="flex-fill" color="primary" type="submit">Update</button>
  </div>
</div>
