.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  form {
    padding: 1rem;
    border-top: 5px solid black;
    background-color: white;
  }
}