<div class="main mat-app-background">
  <mat-card color="secondary">
    <form [formGroup]="form">
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div>
          <mat-form-field appearance="standard">
            <mat-label>Username</mat-label>
            <input matInput name="username" id="username" formControlName="username" required>
            <mat-icon matSuffix color="primary">person</mat-icon>
            <mat-error *ngIf="username.hasError('required')">
              Please enter your username.
            </mat-error>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="standard">
            <mat-label>Password</mat-label>
            <input matInput name="password" id="password" formControlName="password" type="password" required>
            <mat-icon matSuffix color="primary">lock</mat-icon>
            <mat-error *ngIf="password.hasError('required')">
              Please enter your password.
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <mat-card-actions class="mx-0">
        <button mat-raised-button color="primary" (click)="onSubmit()">Login</button>
      </mat-card-actions>
      <mat-card-footer>
        <mat-error *ngIf="invalid">
          Bad credentials.
        </mat-error>
      </mat-card-footer>
    </form>
  </mat-card>
</div>