body {
  margin: 0;
  //background-color: $gray-100;
}

mat-card, button, .form-control { 
  border-radius: 0 !important; 
  border: 0;
}

.card-body {
  background-color: $white !important;
}

.busy {
  border-top: 5px solid lighten($danger, 20%);
}

.free {
  border-top: 5px solid lighten($primary, 20%);
}

mat-card-content .table-card {
  height: 3rem;
  overflow: hidden;
  text-overflow: ellipsis;
}

mat-dialog-container.mat-dialog-container {
  border-radius: 0;
}

.modal-content {
  border-radius: 0 !important;
  border: 0;
  border-top: 3px solid black;
}

.sidenav-container {
  min-height: 100vh;
}

button {
  outline: none !important;
}