<mat-card class="m-3" style="width: 18rem;">
  <mat-card-header>
    <mat-card-title>Table n° {{info.tableNumber}}</mat-card-title>
    <mat-card-subtitle>
      {{info.order.created_at | date:"HH:mm"}}
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let item of info.order.items; let i = index" data-index="#i">
        <mat-expansion-panel-header >
          <mat-panel-title>
            <span class="lead">{{item.item.name}}</span>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <p mat-line> <b>Quantity: </b>{{item.quantity}} </p>
        <p mat-line> <b>Start time: </b>{{item.start | date:"HH:mm"}} </p>
        <p mat-line class="mb-0"> <b>End time: </b>{{item.end | date:"HH:mm"}} </p>
        <mat-action-row>
            <button 
            mat-button 
            color="control-button" 
            title="start preparation"
            color="primary"
            (click)="startItemPreparation(item, i);"
            [disabled]="item.start"
          >Start</button>
          <button 
            mat-button 
            color="control-button" 
            title="end preparation"
            color="warn"
            (click)="endItemPreparation(item, i);"
            [disabled]="item.end"
          >End</button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
    <!-- <mat-list>
      <h3 mat-subheader>Food</h3>
      <mat-list-item *ngFor="let item of info.order.items; let i = index" data-index="#i">
        <h4 mat-line>{{item.item.name}}</h4>
        <p mat-line> <b>Quantity: </b>{{item.quantity}} </p>
        <button 
          mat-button 
          color="control-button" 
          title="start preparation"
          color="primary"
          (click)="startItemPreparation(item, i);"
          [disabled]="item.start"
        >Start</button>
        <button 
          mat-button 
          color="control-button" 
          title="end preparation"
          color="warn"
          (click)="endItemPreparation(item, i);"
          [disabled]="item.end"
        >End</button>
      </mat-list-item>
    </mat-list> -->
  </mat-card-content>
</mat-card>
