<div class="p-3 d-flex flex-column flex-md-row">
  <div *ngFor="let table of tables" class="card m-3" style="width: 18rem;" [class.busy]="table.busy" [class.free]="!table.busy">
    <div class="card-body">
      <h5 class="card-title mb-4">Table n° {{table.number}}</h5>
      <h6 class="card-subtitle mb-2 text-muted d-flex w-100 justify-content-around">
        <div class="flex-fill">
          <i class="fas fa-users mr-2"></i>{{activeService(table).covers}}/{{table.seats}}
        </div>
        <div class="flex-fill">
          <i class="fas fa-concierge-bell mx-2"></i>{{processedFoodOrders(table).length}}/{{foodOrders(table).length}}
        </div>
        <div class="flex-fill">
          <i class="fas fa-beer mx-2"></i>{{processedBeverageOrders(table).length}}/{{beverageOrders(table).length}}
        </div>
      </h6>
      <p class="card-text"><b>Waiter serving this table: </b><br>{{activeService(table).waiter ? activeService(table).waiter.username : 'none'}}</p>
      <div class="d-flex w-100">
        <button href="#" role="button" class="btn btn-secondary mr-2 flex-fill" (click)="openModal(tableInfoModal, table)">Info</button>
        <button href="#" role="button" class="btn btn-primary ml-2 flex-fill" [disabled]="activeService(table).done === true" (click)="openModal(tableBillModal, table, true)">Bill</button>
      </div>
    </div>
  </div>
  <!-- Begin Modals Section -->
  <ng-template #tableInfoModal>
    <div class="px-3 pt-3 pb-2">
      <h4 class="modal-title pull-left">Table n° {{modalTable.number}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body px-3 pb-3 pt-2 d-flex justify-content-center align-items-center">
      <div class="my-4">
        <b><i class="fas fa-info-circle mr-3"></i>STATUS: </b>
        <span class="mx-3"><i [class]="modalTable.busy ? 'fas fa-times' : 'fas fa-check'" [style.color]="modalTable.busy ? 'red' : 'green'"></i></span>
        <br>
        <b><i class="fas fa-chair mr-3"></i>SEATS: </b>
        <span class="mx-3">{{modalTable.seats}}</span>
        <br>
        <span *ngIf="activeService(modalTable).waiter">
          <b><i class="fas fa-user mr-3"></i>WAITER: </b>
          <span class="mx-3">{{activeService(modalTable).waiter.username}}</span>
        </span>
        <div *ngIf="modalTable.busy">
          <h5 *ngIf="pendingFoodOrders(modalTable).length > 0" class="text-danger mt-4">Pending food orders</h5>
          <ul *ngFor="let order of pendingFoodOrders(modalTable)">
            <li *ngFor="let item of order.items">
              {{item.quantity}} x {{item.item.name}}, <b>ordered at:</b> {{parseDate(order.created_at)}}
            </li>
          </ul>
          <h5 *ngIf="pendingBeverageOrders(modalTable).length > 0" class="text-danger mt-4">Pending beverage orders</h5>
          <ul *ngFor="let order of pendingBeverageOrders(modalTable)">
            <li *ngFor="let item of order.items">
              {{item.quantity}} x {{item.item.name}}, <b>ordered at:</b> {{parseDate(order.created_at)}}
            </li>
          </ul>
          <h5 *ngIf="processedFoodOrders(modalTable).length > 0" class="text-primary mt-4">Processed food orders</h5>
          <ul *ngFor="let order of processedFoodOrders(modalTable)">
            <li *ngFor="let item of order.items">
              {{item.quantity}} x {{item.item.name}}, <b>processed at:</b> {{parseDate(order.processed)}}
            </li>
          </ul>
          <h5 *ngIf="processedBeverageOrders(modalTable).length > 0" class="text-danger mt-4">Processed beverage orders</h5>
          <ul *ngFor="let order of processedBeverageOrders(modalTable)">
            <li *ngFor="let item of order.items">
              {{item.quantity}} x {{item.item.name}}, <b>processed at:</b> {{parseDate(order.processed)}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template #tableBillModal>
    <div class="px-3 pt-3 pb-2">
      <h4 class="modal-title pull-left">Bill of table n° {{modalTable.number}}</h4>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body px-3 pb-3 pt-2" *ngIf="modalTableBill">
      <div class="bill m-3 p-3">
        date and time: {{getCurrentTime()}}<br>
        covers: {{activeService(modalTable).covers}}<br>
        <div class="my-2"></div>
        <div *ngFor="let item of modalTableBill.items" class="d-flex">
          <div class="flex-fill">{{item.quantity}} x {{item.name}}</div>
          <div class="flex-fill text-right">{{item.quantity * item.price}}</div>
        </div>
        <div class="text-right">
          Total: {{modalTableBill.total}}
        </div>
      </div>
      <div class="p-3">
        <button class="btn btn-primary w-100" (click)="tablePayment(modalTable)">Payment</button>
      </div>
    </div>
    <div *ngIf="!modalTableBill" class="d-flex flex-column justify-content-center align-items-center w-100">
      <img src="../../assets/img/loader.svg">
    </div>
  </ng-template>
  <!-- End Modals Section -->
</div>