<button mat-dialog-close type="button" class="close pull-right" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
<h1 mat-dialog-title>Table n° {{table.number}}</h1>
<mat-dialog-content class="d-flex flex-column justify-content-center align-items-start">
  <div class="my-2">
    <b><i class="fas fa-info-circle mr-3"></i>STATUS: </b>
    <span class="mx-3">
      <i [class]="table.busy ? 'fas fa-times' : 'fas fa-check'" [style.color]="table.busy ? 'red' : 'green'"></i>
    </span>
  </div>
  <div class="my-2">
    <b><i class="fas fa-chair mr-3"></i>SEATS: </b>
    <span class="mx-3">{{table.seats}}</span>
  </div>
  <div class="my-2" *ngIf="activeService(table).waiter">
    <b><i class="fas fa-user mr-3"></i>WAITER: </b>
    <span class="mx-3">{{activeService(table).waiter.username}}</span>
  </div>
  <div *ngIf="table.busy">
    <h5 *ngIf="pendingFoodOrders(table).length > 0" class="text-danger mt-4">Pending food orders</h5>
    <ul *ngFor="let order of pendingFoodOrders(table)">
      <li *ngFor="let item of order.items">
        {{item.quantity}} x {{item.item.name}}, <b>ordered at:</b> {{parseDate(order.created_at)}}
      </li>
    </ul>
    <h5 *ngIf="pendingBeverageOrders(table).length > 0" class="text-danger mt-4">Pending beverage orders</h5>
    <ul *ngFor="let order of pendingBeverageOrders(table)">
      <li *ngFor="let item of order.items">
        {{item.quantity}} x {{item.item.name}}, <b>ordered at:</b> {{parseDate(order.created_at)}}
      </li>
    </ul>
    <h5 *ngIf="processedFoodOrders(table).length > 0" class="text-primary mt-4">Processed food orders</h5>
    <ul *ngFor="let order of processedFoodOrders(table)">
      <li *ngFor="let item of order.items">
        {{item.quantity}} x {{item.item.name}}, <b>processed at:</b> {{parseDate(order.processed)}}
      </li>
    </ul>
    <h5 *ngIf="processedBeverageOrders(table).length > 0" class="text-danger mt-4">Processed beverage orders
    </h5>
    <ul *ngFor="let order of processedBeverageOrders(table)">
      <li *ngFor="let item of order.items">
        {{item.quantity}} x {{item.item.name}}, <b>processed at:</b> {{parseDate(order.processed)}}
      </li>
    </ul>
  </div>
</mat-dialog-content>
